/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a
{
    color: $color-link;
}
a:visited
{
    color: $color-link-visited;
}
a:hover,
a:focus,
a:active
{
    color: $color-link-hover;
}

/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigation
{
    display: block;
    float: left;
    clear: both;

    width: 100%;
}
.main-navigation ul
{
    margin: 0;
    padding-left: 0;

    list-style: none;
}
.main-navigation li
{
    position: relative;

    float: left;
}
.main-navigation a
{
    display: block;

    text-decoration: none;
}
.main-navigation ul ul
{
    position: absolute;
    z-index: 99999;
    top: 1.5em;
    left: -999em;

    float: left;

    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}
.main-navigation ul ul ul
{
    top: 0;
    left: -999em;
}
.main-navigation ul ul a
{
    width: 200px;
}




.main-navigation ul li:hover > ul
{
    left: auto;
}
.main-navigation ul ul li:hover > ul
{
    left: 100%;
}

/* Small menu */
.menu-toggle
{
    display: none;
}
@media screen and (max-width: 600px)
{
    .menu-toggle,
    .main-navigation.toggled .nav-menu
    {
        display: block;
    }

    .main-navigation ul
    {
        display: none;
    }
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation
{
    overflow: hidden;

    margin: 0 0 1.5em;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous
{
    float: left;

    width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next
{
    float: right;

    width: 50%;

    text-align: right;
}
