/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/

a
{
    color: $color-link;
    &:visited
    {
        color: $color-link-visited;
    }
    &:hover,
    &:focus,
    &:active
    {
        color: $color-link-hover;
    }
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

.main-navigation
{
    display: block;
    float: left;
    clear: both;

    width: 100%;
    ul
    {
        margin: 0;
        padding-left: 0;

        list-style: none;
        li
        {
            &:hover > ul
            {
                display: block;
            }
        }
        ul
        {
            position: absolute;
            z-index: 99999;
            top: 1.5em;
            left: -999em;

            float: left;

            box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
            li:hover > ul
            {
                left: 100%;
            }
            a
            {
                width: 200px;
            }
            ul
            {
                top: 0;
                left: -999em;
            }
        }
    }
    li
    {
        position: relative;

        float: left;
        &:hover > ul
        {
            left: auto;
        }
    }
    a
    {
        display: block;

        text-decoration: none;
    }
}

/* Small menu */

.menu-toggle
{
    display: none;

    cursor: pointer;
}

@media screen and (max-width: 600px)
{
    .menu-toggle,
    .main-navigation.toggled .nav-menu
    {
        display: block;
    }

    .main-navigation ul
    {
        display: none;
    }
}

.comment-navigation,
.paging-navigation,
.post-navigation
{
    .site-main &
    {
        overflow: hidden;

        margin: 0 0 1.5em;
    }
    .nav-previous
    {
        float: left;

        width: 50%;
    }
    .nav-next
    {
        float: right;

        width: 50%;

        text-align: right;
    }
}
